<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="../../logs/nlog-internal.txt">

	<variable name="logdir" value="../../logs" />

	<targets async="true">
		<target xsi:type="SplitGroup" name="general">
			<target
				xsi:type="Console"
				layout="${date:mm\:ss.ff} ${level:uppercase=true} ${logger} ${message}${exception:tostring}"
			/>
			<target
				xsi:type="Debugger"
				layout="${date:mm\:ss.ff} ${level:uppercase=true} ${logger} ${message}${exception:tostring}"
			/>
			<target
			  xsi:type="File"
			  layout="${date:universalTime=true:format=dd HH\:mm\:ss:culture=en}|${logger}|${message}"
			  fileName="${logdir}/all"
			  maxArchiveFiles="8"
			  archiveAboveSize="65536"
			/>
			<target
			  xsi:type="File"
			  layout="${date:universalTime=true:format=dd HH\:mm\:ss:culture=en}|${logger}|${message}${onexception:${newline}${exception:format=ToString}}"
			  fileName="${logdir}/errors"
			  maxArchiveFiles="8"
			  archiveAboveSize="65536"
			>
				<filters>
					<when condition="level &lt; LogLevel.Error" action="Ignore" />
				</filters>
			</target>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="general" final="true" />

		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Error" writeTo="general" final="true" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Info" writeTo="general" />
	</rules>
</nlog>
