html,
body,
main.main-container,
.h-100 {
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.all-images-grid {
    height: 100vh;
    flex-wrap: wrap;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-content: start;
}

.all-images-grid > * {
    width: 100px;
}
