@if (IsEmpty)
{
    @EmptyContent
}
else if (LoadingTask is null)
{
}
else if (LoadingTask.IsFaulted && LoadingTask.Exception is Exception error)
{
    <BzNonIdealState Icon="@Icons.Material.Filled.Error" Description="Daten konnten nicht geladen werden" Title="Fehler" />
}
else if (LoadingTask.IsCompletedSuccessfully)
{
    @if (IsEmpty && EmptyContent is not null)
    {
        @EmptyContent
    }
    else
    {
        @ChildContent
    }
}
else if (!LoadingTask.IsCompleted)
{
    <BzCentered>
        <MudProgressCircular Size="Size.Large" Indeterminate="true" />
    </BzCentered>
}
else
{
    <div>?</div>
}

@code {
    static Logger log = LogManager.GetCurrentClassLogger();

    [Parameter]
    public Task LoadingTask { get; set; }

    [Parameter]
    public Boolean IsEmpty { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment EmptyContent { get; set; }
}
