@inherits LayoutComponentBase

<PageTitle>Creational.Server</PageTitle>

<div class="page h-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-container">
        @Body
    </main>
</div>
